 /*body styles*/
 .font-poppins {
     font-family: "Poppins", sans-serif;
 }


 /*header styles*/
 .head {
     font-size: 1.5rem;
     font-weight: bold;
     color: #3A3A3A;
     margin-left: 120px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav ul {
     display: flex;
     gap: 35px;
     margin-right: 120px;
 }

 nav ul li {
     list-style: none;
     font-size: 1rem;
     font-weight: 600;
 }

 nav ul li a {
     text-decoration: none;
     color: #3A3A3A;
 }

 /*banner styles*/
 .banner {
     display: flex;
     justify-content: space-between;
     margin: 0px 165px 0px 120px;
 }

 .banner-content {
     margin-top: 145px;
 }

 .banner-title {
     font-size: 3.25rem;
     font-weight: bold;
     margin-bottom: 16px;
 }

 .banner-description {
     font-size: 1rem;
     font-weight: 400;
 }

 .btn-1st {
     background-color: rgba(224, 44, 109, 1);
     padding: 10px 24px;
     font-size: 1rem;
     font-weight: bold;
     color: #FFFFFF;
     border: none;
     border-radius: 41px;
 }

 .banner-profile {
     margin-top: 80px;
 }

 .banner-profile-bg {
     background-image: url('../images/Circle\ design.svg');
     background-repeat: no-repeat;
     background-position: center;
 }


 /*sponsor logo styles*/

 .sponsor {
     max-width: 1440px;
     margin: 100px auto;
     border: 1px solid;
     border-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1), rgba(255, 255, 255, 1)) 1;
 }

 .sponsor-companies {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     justify-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 /*card styles*/
 .section {
     justify-items: center;
 }

 .section-title {
     font-size: 1.75rem;
     font-weight: 600;
     color: #3A3A3A;
 }

 .card-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
 }

 .card {
     background: rgba(247, 247, 247, 1);
     padding: 20px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
     border-radius: 8px;
 }

 .card-head {
     font-size: 1.75rem;
     font-weight: 500;
     margin-bottom: 6px;
 }

 .price {
     font-size: 1.5rem;
     font-weight: 400;
     margin-bottom: 6px;
 }

 .stars {
     color: orange;
 }

 .card-title {
     font-size: 0.75rem;
     font-weight: 300;
 }

 .sea-more {
     width: 100%;
     text-align: right;
     margin-top: 50px;
     margin-right: 820px;
 }

 .sea-more a {
     text-decoration: none;
     color: red;
 }

 /*feature styles*/
 .section-feature {
     display: flex;
     justify-content: center;
     margin: 0px 165px 0px 165px;
     gap: 96px;
 }

 .feature-title {
     font-size: 2.375rem;
     font-weight: bold;
 }

 .feature-description {
     font-size: 1rem;
     font-weight: 300;
 }

 .btn-2nd {
     padding: 10px 24px;
     background-color: rgba(224, 44, 109, 1);
     color: white;
     font-size: 1rem;
     font-weight: bold;
     border: none;
 }

 /*footer styles*/
 footer {
     justify-items: center;
 }

 .footer-bg {
     background-color: #00072D;
     padding: 50px 100px;
     margin-top: 100px;
 }

 .footer-title {
     color: white;
     font-size: 1.5rem;
     font-weight: bold;
     text-align: center;
     margin-bottom: 8px;
 }

 .footer-copyright,
 .footer-subtitle {
     color: white;
     font-size: 0.875rem;
     font-weight: 300;
     text-align: center;
 }

 .footer-icon {
     text-align: center;
     color: white;
     display: flex;
     gap: 20px;
 }